[File Dialog]
showhidden=false
style=12582912
width=500
height=300

[SearchReplace]
SA="\n"
RA="\"\nsleep 3 && wget --user-agent=\"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/118.0.0.0 Safari/537.36\" --content-disposition \"https://fanyi.baidu.com/gettts?spd=3&source=web&lan=ru&text="
MA=6

[SETTINGS]
browserbackground=Gray100
loggerheight=32
textnumberforeground=Black
width=1037
hideclock=true
textfont=DejaVu Sans [PfEd],120,normal,regular
browserselforeground=Gray100
showlogger=false
initialwidth=640
hardtabs=true
textactivebackground=Gray100
textnumberbackground=Gray100
fixedwrap=true
tabcols=8
stripreturn=true
warnchanged=false
colorize=false
modeline=false
searchpaths=/usr/include
delimiters="~.,/\\`'!@#$%^&*()-=+{}|[]\":;<>?"
searchflags=6
textbackground=Gray100
hidestatus=false
bracematchpause=2000000000
wordwrap=false
initialsize=false
appendnewline=true
filepatterns=All Files (*)
height=756
showhiddenfiles=false
bracematch=true
textforeground=Black
textselbackground=#0a246a
barcols=0
filepatternno=0
browserlines=#8e8b86
texthiliteforeground=Black
textcursor=Black
browserselbackground=#0a246a
appendreturn=false
showsearchbar=false
treewidth=100
initialheight=480
texthilitebackground=#ff8080
hidetree=true
wrapcols=80
hidetoolbar=false
savebookmarks=false
showactive=false
hideundo=true
autoindent=false
browserforeground=Black
x=166
y=141
stripspaces=false
textselforeground=Gray100
saveviews=false

[Font Dialog]
width=597
height=442

[Recent Files]
FILE2=/tmp/audio/input.txt
FILE1=/tmp/audio/input.sh

